# This is an example secrets file. Copy the file with filled values to the `secrets.xlvals`
# `secrets.xlvals` file is in gitignore.

authMethod=active-directory-user-password/directory-application-and-service-principal
subscriptionId=
tenantId=
clientId=
clientKey=
userName=
userPassword=
storageSKU=
storageName=
